<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="../public/table.css">
    </head>

    <body>
        <div class="wrapper">
        <div id='enemyhand' style = "height: 1fr"></div>
        <div id='enemyhero' style = "height: 1fr"><img src = '../resources/pc.jpg'></div>
        <div id='gamefield' style = "height: 2fr; display:grid">
            <div id="enemyfield" style = "height: 0.8fr">enemieshere</div>
            <div id="turnbutton"style = "height: 0.4fr"><button type="button">Turn</button></div>
            <div id="myfield" style = "height: 0.8fr">myunitshere</div>
        </div>
        <div id='myhero' style = "height: 1fr"><img src = '../resources/pc.jpg'></div>
        <div id='myhand' style = "height: 1fr">
        <!-- <ul id="cardhand" style = "height: 1fr">
            <li class="card" id="ace">
                <span>1</span>
                <span>NAME</span>
                <span>1</span>
                <span>1</span>
            </li>
        </ul> -->
        </div>
        <div class="cardchooser-div"></div>
        <script src="client.js"></script>
    </body>
</html>