<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"> 
        <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../public/style.css">
    </head>
    <body>
        <div class="form-div">
            <form id="logForm"> 
                <h3>Login</h3>
                <span class="errors"></span>

                <input type="text" name="login" placeholder="Login" class="textField" required><br><br>
    
                <input type="password" name="password" placeholder="Password" class="textField" required><br><br>

                <input type="submit" value="Login" class="buttons"> 
                <input type="reset" value="Clear" class="buttons">  
                
                <br><br><a href="register" class="hrefButton">Create new account</a>
                <br><a href="remind" class="hrefButton">Remind password</a>
    
            </form>
        </div>
        <script src="../scripts/login-script.js"></script>
    </body>
</html>