<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Remind</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"> 
        <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../public/style.css">
    </head>
    <body>
        <div class="form-div">
            <form id="remForm"> 
                <h3>Remind password</h3>
                <span id="errorSpan" class="errors"></span>
                <span id="messageSpan" class="messages"></span>

                <input type="text" name="login" placeholder="Login" class="textField" required><br><br>
    

                <input type="submit" value="Remind" class="buttons"> 
                <input type="reset" value="Clear" class="buttons">   
    
                <br><br><a href="login" class="hrefButton">Back to the login</a>
            </form>
        </div>
        <script src="../scripts/reminder-script.js"></script>
    </body>
</html>
